.table{
    padding-right: 30px;
    padding-top: 15px;
}
table{
    width: 100%;
    border-radius: 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #30D96B;
}

td {
    padding: 10px;
}
.table-header{
    font-size: 22px;
    color: rgba(19, 19, 19, 0.799);
}

.table-body{
    color: rgba(17, 17, 17, 0.755);
    margin: 2px;
}

.deletebutton {
    padding: 7px 14px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: #f44900;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #f44900;
    border-radius: 7px;
  }
  
  .deletebutton:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #f44500;
    border-color:white ;
  }
  
  .deletebutton:active {
    transform: scale(0.5);
  }